* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header ul {
    display: flex;
    list-style: none;
}

.welcome {
    background-color: #1F2937;
    width: 100vw;
}

.infos {
    width: 100vw;
}

.quote {
    width: 100vw;
}

.sign-up {
    width: 100vw;
}

.footer {
    background-color: #1F2937;
    width: 100vw;
}

