* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header ul {
    display: flex;
    list-style: none;
}

.welcome {
    background-color: #1F2937;
    width: 100vw;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
}

.content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content p {
    font-size: 18px;
    color: #E5E7EB;
}

.content button {
    background-color: #3882f6;
    border: 0;
    outline: 0;
    color: white;
    font-size: 18px;
}

.photo {
    background-color: #4a6285;
    color: white;
}

.infos {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.infos h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.cards {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    width: 175px;
}

.box {
    border: 5px #3882f6 solid;
    border-radius: 10px;
    height: 175px;
    width: 175px;
}

.quote {
    background-color: #E5E7EB;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote-cont p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-cont h1 {
    font-size: 24px;
}

.sign-up {
    width: 100vw;
}

.pop {
    background-color: #3882f6;
    display: flex;
    border-radius: 15px;
}

.texts {
    display: flex;
    flex-direction: column;
}

.sign-up button {
    border: 1px white solid;
    border-radius: 15px;
    background-color: #3882f6;
    outline: 0;
}

.footer {
    background-color: #1F2937;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

